.MovieCard{
    margin-top: 15px;
    display: flex;
    font-family: 'Noto Sans', sans-serif;
        font-weight: 700;
}
.MovieCardImg{
    border: 1px solid #DB931A;
    border-radius: 5px;
    -webkit-box-shadow: -6px 6px 12px -4px rgba(219, 147, 26, 1);
        -moz-box-shadow: -6px 6px 12px -4px rgba(219, 147, 26, 1);
        box-shadow: -6px 6px 12px -4px rgba(219, 147, 26, 1);
}
.MovieDescription{
    margin: 0;
    padding:15px;
    display: flex;
    flex-direction: column;
}
.DescriptionTitle{
    color: #DB931A;
}
.DescriptionText{
    color: #DB931A;
}
.MovieCardButton{
    position: absolute;
    top: 85px;
    left:705px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height:40px;
    color: #F9E7CD;
    transition: all 200ms;

}

.BsFillBookmarkHeartFill:hover {
    background-color: transparent;
    transform: scale(1.05);
    color: #DB931A;
}


.BsFillBookmarkHeartFill:hover {
    transform: translateY(-1px);
}

.BsFillBookmarkHeartFill:active {
    transform: translateY(0);
}