.navBar{
    padding: 15px;
    background-color: #002340;
    display: flex;
    justify-content: space-between;

}

.navLinks {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.activeLink {
    composes: navLinks;
    color: #DB931A;
}